.footerDiv,
footer {
    width: 100%;
    height: 5.37rem;
    background: rgba(51, 51, 51, 0.92);
    bottom: 0;
    left: 0;
    right: 0;
    box-sizing: border-box;
    border-top: 2px solid rgb(196, 196, 196);

}

.row {
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    padding-top: 25px;
}

.column-1-of-3,
.column-2-of-3 {
    display: flex;
    justify-content: center;
    width: 30%;
    height: 100%;
    border-right: 1px solid white;
    border-width: 100%;
}

.column-3-of-3 {
    display: flex;
    justify-content: center;
    width: 30%;
    height: 100%;
}

.footerBox {
    display: flex;
    justify-content: center;
}

.footerIcon:hover {
    cursor: pointer;
}

@media only screen and (max-width: 1024px) {

    .footerDiv,
    footer {
        height: 4.37rem;
    }
}

@media only screen and (max-width: 480px) {

    .footerDiv,
    footer {
        height: 4.37rem;
        bottom: 0;
        margin: 0;
        display: flex;
    }

    .row {
        width: 100%;
        display: flex;
        margin: 0;
        padding: 0;
        justify-content: center;
        left: 5%;
    }

    .column-1-of-3,
    .column-2-of-3,
    .column-3-of-3 {
        width: 30%;
        display: flex;
        justify-content: center;
        margin-top: 5%;
    }
}