header {
  width: 100%;
  background-color: #28a5eb;
  position: relative;
  height: 6.25rem;
}

.divLogo {
  width: 8.75rem;
  height: 3.12rem;
  padding: 1.25rem 0 1.25rem 0;
  display: block;
}

.logo {
  width: 8.75rem;
  height: 3.12rem;
  display: flex;
  left: 80%;
  position: absolute;
  margin-top: 1.56rem;
  margin-left: 1rem;
}

.logo:hover {
  cursor: pointer;
}

.nav-links {
  width: 100%;
  z-index: 1000;
  padding-top: 0.625rem;
}

.nav-links ul {
  margin: 0;
  list-style: none;
  padding: 0;
  display: flex;
}

.nav-links li {
  padding: 0.62rem 1.25rem;
  color: white;
  margin-top: 1.25rem;
  margin-left: 1.5rem;
}

.nav-links li:hover {
  cursor: pointer;
}

header label {
  display: none;
  margin: 0 40px 0 0;
  width: 1.875rem;
  height: 1.875rem;
  padding: 0.625rem;
}

header label:hover {
  cursor: pointer;
}

.navMapIcon {
  display: none;
}

#toggle {
  display: none;
}

@media only screen and (max-width: 768px) {

  article,
  aside,
  figcaption,
  figure,
  footer,
  header,
  hgroup,
  main,
  nav,
  section {
    z-index: 1000 !important;
  }

  .logo {
    position: absolute;
    left: 40% !important;
  }

  .navMapIcon {
    display: block;
    position: absolute;
    left: 85%;
    top: 40%;
  }

  header {
    height: 6.25rem;
  }

  header label {
    display: block;
    cursor: pointer;
    padding-top: 2.3rem;
    padding-left: 1.25rem;

  }

  .nav-links {
    width: 30%;
    color: black;
    background-color: white;
    z-index: 1000;
    display: none;
    border: 1px solid #333;
    border-radius: 5%;
    margin-top: 7% !important;
  }

  .nav-links ul {
    flex-direction: column;
    margin-top: 4rem;
    text-align: center;
    margin: 0;
  }

  .nav-links li {
    color: black;
    border-bottom: 1px solid black;
    margin: 0;
  }

  .last-of-li {
    border-bottom: none !important;
  }

  #toggle:checked~.nav-links {
    display: block;
    margin: 0;
  }
}

article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
  z-index: 1000 !important;
}


@media only screen and (max-width: 1024px) {
  .logo {
    position: absolute;
    left: 75%;
    margin-left: 1rem;
  }

  article,
  aside,
  figcaption,
  figure,
  footer,
  header,
  hgroup,
  main,
  nav,
  section {
    z-index: 1000 !important;
  }

}

@media only screen and (max-width: 480px) {
  .logo {
    width: 140px;
    height: 50px;
    display: block;
    position: absolute;
    left: 28% !important;
  }

  .navMapIcon {
    position: absolute;
    top: 35%;
  }

  nav {
    z-index: 1000 !important;
  }

  .nav-links {
    width: 50%;
    z-index: 1000;
    display: none;
    margin-top: 13% !important;
  }

  .nav-links ul {
    flex-direction: column;
    margin-top: 4rem;
    text-align: center;
    margin: 0;
  }

  #toggle:checked~.nav-links {
    display: block;
    margin: 0;
  }
}