header {
  width: 100%;
  background-color: rgb(95, 95, 95);
  position: relative;
  height: 100px;
}

.divLogo {
  width: 8.75rem;
  height: 3.12rem;
  padding: 1.25rem 0 1.25rem 0;
  display: block;
}

.logo {
  width: 8.75rem;
  height: 3.12rem;
  display: flex;
  left: 80%;
  position: absolute;
  margin-top: 1.56rem;
  margin-left: 1rem;
}

.logo:hover {
  cursor: pointer;
}

.nav-links {
  width: 100%;
  z-index: 1000;
}

.nav-links ul {
  margin: 0;
  list-style: none;
  padding: 0;
  display: flex;
}

.nav-links li {
  padding: 0.62rem 1.25rem;
  color: white;
  margin-top: 1.25rem;
  margin-left: 1.5rem;
}

header label {
  display: none;
  margin: 0 40px 0 0;
  width: 30px;
  height: 30px;
  padding: 10px;
}

header label:hover {
  cursor: pointer;
}

#toggle {
  display: none;
}

@media only screen and (max-width: 768px) {

  article,
  aside,
  figcaption,
  figure,
  footer,
  header,
  hgroup,
  main,
  nav,
  section {
    z-index: 1000 !important;
  }

  header label {
    display: block;
    cursor: pointer;
    padding-top: 1.87rem;
    padding-left: 1.25rem;

  }

  .nav-links {
    width: 50%;
    color: black;
    background-color: white;
    z-index: 1000;
    display: none;
  }

  .nav-links ul {
    flex-direction: column;
    margin-top: 4rem;
    text-align: center;

  }

  .nav-links li {
    color: black;
  }

  #toggle:checked~.nav-links {
    display: block;
    margin: 0;
  }

  .logo {
    display: flex;
    justify-content: center;
  }
}

article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
  z-index: 1000 !important;
}

@media only screen and (max-width: 1024px) {
  .logo {
    position: absolute;
    left: 80%;
    margin-left: 1rem;
  }

  article,
  aside,
  figcaption,
  figure,
  footer,
  header,
  hgroup,
  main,
  nav,
  section {
    z-index: 1000 !important;
  }

}

@media only screen and (max-width: 480px) {
  .logo {
    display: flex;
    position: absolute;
    justify-content: center;
  }

  nav {
    z-index: 1000 !important;
  }

  .nav-links {
    width: 50%;
    background-color: white;
    z-index: 1000;
    display: none;
  }

  .nav-links ul {
    flex-direction: column;
    margin-top: 4rem;
    text-align: center;
  }

  #toggle:checked~.nav-links {
    display: block;
    margin: 0;
  }
}