.titleServices {
  display: flex;
  justify-content: center;
  background-color: #28a5eb;
  color: white;
  width: 100%;
  margin: 0px;
  padding-bottom: 0.5%;
}

.sectionServices {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 0.5rem;
  padding: 0px !important;
  display: flex;
}

.itemServices {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 15vh;
  font-size: 2rem;
  color: white;
  margin: 0px !important;
  padding: 0px !important;
  background: #6e6d6d;
  mix-blend-mode: normal;
  border: 2px solid #ffffff;
  box-sizing: border-box;
}

.type {
  background-color: #28a5eb !important;
  padding-bottom: 1%;
}

#elementos_ {
  background-color: #ffecd5;
}

#museums {
  background-image: url('../img/museos.jpg');
  background-position: bottom;
}

#restaurants {
  background-image: url('../img/servicios-restaurantes.jpg');
  background-position: bottom;
}

#hotels {
  background-image: url('../img/servicios-hoteles.jpg');
  background-position: center;
}

#adventure {
  background-image: url('../img/servicios-turismo-aventura.jpg');
  background-position: center;
}

#beach {
  background-image: url('../img/servicios-playas.jpg');
  background-position: bottom;
}

#park {
  background-image: url('../img/servicios-parques.jpg');
  background-position: top;
}

@media only screen and (max-width: 480px) {
  .itemServices {
    font-size: 23px;
  }
}