* {
  box-sizing: border-box;
  margin: 0px;
}

.section_ {
  display: flex;
  justify-content: start;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
  padding: 0.5rem;
  background: gray;
}

.imgCustom {
  width: 400px;
  padding-left: 3em;
}
.button_ {
  background: #8da1d5;
  border: 1px solid #c7c7c7;
  box-sizing: border-box;
  box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  width: 10em;
  height: 2em;
  color: #ffffff;
}

/* Responsive para celular */
@media (max-width: 700px) {
  .imgCustom {
    width: 300px;
    padding-left: 2em;
  }
}
