html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  display: block;
}

.App {
  text-align: center;
  margin-top: 100px;
}

.mapContainer {
  width: 640px;
  height: 480px
}

/* padding para los contenedores de las paginas, exceto Home */
.favoritePage,
/* servicios */
.container_,
.aboutPage {
  padding: 2%;
  display: flex;
  justify-content: center;
  height: 100vh;
  background-color: white;
}